menu "Touchscreen"
	depends on INPUT_TOUCHSCREEN

source "techpack/xiaomi-sdm845/touchscreen/focaltech_touch_mi/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/ft5x46/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/fts_521/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/ndt/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/nt36xxx/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/synaptics_dsx_force/Kconfig"
source "techpack/xiaomi-sdm845/touchscreen/xiaomi/Kconfig"

config TOUCHSCREEN_ATMEL_MXT_MI
	tristate "Atmel mXT I2C Touchscreen"
	depends on I2C
	select FW_LOADER
	help
	  Say Y here if you have Atmel mXT series I2C touchscreen,
	  such as AT42QT602240/ATMXT224, connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called atmel_mxt_ts.

endmenu
