CONFIG_TOUCHSCREEN_ST_FTS_V521=y
CONFIG_I2C_BY_DMA=y
CONFIG_SECURE_TOUCH=y
CONFIG_TOUCHSCREEN_ATMEL_MXT_MI=y
CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE=y
CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE_GAMEMODE=y
CONFIG_FINGERPRINT_FP_VREG_CONTROL=y
CONFIG_FINGERPRINT_FPC_TEE=y
CONFIG_FINGERPRINT_FPC_SCREEN_NOTIFY=y
CONFIG_FINGERPRINT_GOODIX_TA=y
CONFIG_USE_ROHM_BU64753=y
CONFIG_LEDS_LM3644=y
CONFIG_BCM_GPS_SPI_DRIVER=y
CONFIG_MACH_XIAOMI_E1N=y
