menu "Machine selection"

config MACH_XIAOMI_SDM845
	bool "Support for Xiaomi sdm845 platform"
	depends on MACH_XIAOMI
	help
	  Say Y here to enable support for Xiaomi sdm845 platform.

# Machines
config MACH_XIAOMI_D5X
	bool "polaris board"
	select MACH_XIAOMI_SDM845
	help
	  Support for Xiaomi MIX 2S.

config MACH_XIAOMI_E1N
	bool "dipper board"
	select MACH_XIAOMI_SDM845
	help
	  Support for Xiaomi MI 8.

config MACH_XIAOMI_E10
	bool "beryllium board"
	select MACH_XIAOMI_SDM845
	help
	  Support for Xiaomi Poco F1.

config MACH_XIAOMI_E1S
	bool "equuleus board"
	select MACH_XIAOMI_SDM845
	help
	  Support for Xiaomi MI 8 Pro.

config MACH_XIAOMI_E5
	bool "perseus board"
	select MACH_XIAOMI_SDM845
	help
	  Support for Xiaomi MIX 3.

config MACH_XIAOMI_E8
	bool "ursa board"
	select MACH_XIAOMI_SDM845
	help
	  Support for Xiaomi MI 8 Explorer Edition.

endmenu
