menu "LED"
	depends on NEW_LEDS

config LEDS_LM3644
	tristate "LED support for LM3644 Chip"
	depends on LEDS_CLASS && I2C
	select REGMAP_I2C
	help
	  This option enables support for LEDs connected to LM3644.
	  The LM3644 is a 4MHz fixed-frequency synchronous boost
	  converter plus 1.5A constant current driver for a high-current
	  white LED.

endmenu
